:root {
  --Blue: #097a9f;
  --Sapphire: #45026e;
  --Azure: #400264;
  --Cosmo: #38025a;
  --Galaxy: #1b0033;
  --Mystic: #160b22;
  --Nebula: #280620;
  --Eclipse: #38001e;
  --Regal: #52002d;
  --Majesty: #631740;
  --Light: #a463ca;

  --Ethereal: #b470db;
  --Celestial: #bf7de8;
  --Luminous: #cb91ed;
  --Radiant: #d5a6f2;
  --Astral: #e1bcf6;
}
