@import url("colors.css");
@keyframes cyclic-blur {
  0%,
  100% {
    filter: blur(0.7rem);
  }
  50% {
    filter: blur(1.2rem);
  }
}

@keyframes rotate {
  0% {
    transform-origin: 50% 45%;
    transform: rotate(0deg);
  }
  25% {
    transform-origin: 55% 50%;
    transform: rotate(1deg);
  }
  50% {
    transform-origin: 50% 55%;
    transform: rotate(240deg);
  }
  100% {
    transform-origin: 45% 50%;
    transform: rotate(360deg);
  }
}

@keyframes opacity {
  0% {
   opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
} 