---
---

@import "{{ site.theme }}";

body {
  background-color: #212121;
  color: #a3a3a3
}

ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
}
ul.cloud a {
  display: block;
  font-size: 1.5rem;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;
}

<<<<<<< HEAD
ul.cloud a>sub {
  color: #a3a3a3;
=======
ul.cloud a > sub {
  color: gray;
>>>>>>> 787c82fd2718799745059ea8b3085b80d7d9d900
  font-size: 0.8rem;
}

.no-margin-bottom {
  margin-bottom: 0;
}

a:hover {
  font-weight: inherit;
  text-decoration-color: rgb(255, 90, 255);
}
