---
---

@import "{{ site.theme }}";

ul.cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5rem;
}
ul.cloud a {
  color: rgb(0, 136, 255);
  display: block;
  font-size: 1.5rem;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;
}

ul.cloud a > sub {
  color: gray;
  font-size: 0.8rem;
}

.no-margin-bottom {
  margin-bottom: 0;
}

a:hover {
  font-weight: inherit;
  text-decoration-color: rgb(255, 90, 255);
}
